
header {
    height: 200px;
    background-color: rgb(78, 78, 93);
}

main {
    background-color: rgb(36, 36, 35);
    height: 650px;
}
aside {
    background-color: rgb(44, 44, 42);
    height: 650px;
}

footer {   
    height: auto;  
    background-color: rgb(36, 36, 35);
} 
main section {
    height:50px;
}

aside section{
    height: 50px;

}
main img {
    margin-top: 20px;
    max-height: 200px;
}
ol {
    list-style-type: circle;
}
h3 {
    margin-top: 50px;
    color: 
}
#pesquisa_aside {
    width: 90%;
    margin: 5%;
}
#olaside1 {
    color: white;
}
